<h1 class="page-title">Counter component</h1>
<button class="btn" (click)="decrement()">-</button>
<!-- <span [style.color]="isZeroColor()" class="text-2xl">{{ counter() }}</span> -->
<span class="text-2xl" [ngClass]="isZeroColor()">{{ counter() }}</span>
<button class="btn" (click)="increment()">+</button>

<button *ngIf="!isZero()" class="btn" (click)="reset()">reset</button>

<!-- Esercizio 1: Utilizzare signal 
 computed per verificare se il valore di counter e' 0 -->

<!-- Esercizio 2: Utilizzare un signal computed per modificare
  il colore della scritta COUNTER quando non e' 0 -->
